body{
	background:url(../imagens/background/bg.jpeg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    

    

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
	
	
	.title{
	font-family: 'Roboto Slab', serif;
	color:#FFF;
	text-shadow: -2px 2px 1px rgba(2, 2, 2, 0.9);	
		}
		
	.main{
		background:#000;
		height:100%;
		margin-top:25px;
		margin-bottom:25px;
		opacity: 0.80;
		border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
padding:30px;

	}
	
	.scroll{
		height:450px;
		border:0px solid #AAA;
		width:100%;
		overflow: auto;
		
		}
		
		.circle{
			width:120px !important;
			
		}
		table{
			width:100% !important;
		}